@model IEnumerable<AegisToDo.Models.ToDoItem>

@{
    ViewBag.Title = "Aegis ToDo Application";
}

@*<div>
    <a >
        @Html.Action("Create New", "Create")
    </a>
</div>*@

<div>
    <button id="addbutton" class="btn btn-default">Add</button>
    <div id="addnew"></div>
    <script>
        document.getElementById("addbutton").onclick = function () { addItem() };
        function addItem() {
           $("#addnew").load("@Html.Raw(Url.Action("Create", "ToDo"))")
        }
    </script>
</div>



<body>
    <header>
        <h3>@ViewBag.Message</h3>
    </header>
    <div>
        <table>
            <tr>
                <th>Item Title</th>
                <th>Due Date</th>
                <th>Completed</th>
            </tr>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.Title</td>
                    <td>@item.DueDate</td>
                    <td>@item.IsDone</td>
                </tr>

            }
        </table>
    </div>
</body>

