@model IEnumerable<AegisToDo.Models.ToDoItem>

@{
    ViewBag.Title = "Aegis ToDo Application";
}

<div>
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
</div>

<body>
    <header>
        <h3>@ViewBag.Message</h3>
    </header>
    <div>
        <table>
            <tr>
                <th>Item Title</th>
                <th>Due Date</th>
                <th>Completed</th>
            </tr>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.Title</td>
                    <td>@item.DueDate</td>
                    <td>@item.IsDone</td>
                </tr>

            }
        </table>
    </div>
</body>

